{% extends "base.html" %}
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
{% set active_page = 'controller' %}
{% block content %}
<div class="container">
    <h1>Controller</h1>

    <div class="square-demo">
        <img id="recent-0" data-colour="red" class="square-demo-img animated" src="https://i.imgur.com/eJ5Cam3.png" width=150 height=150">
        <img id="recent-1" data-colour="green" class="square-demo-img animated" src="https://i.imgur.com/W4LrpMt.png" width=150 height=150">
        <img id="recent-2" data-colour="blue" class="square-demo-img animated" src="https://i.imgur.com/y3OMJrx.png" width=150 height=150">
    </div>
    <div class="square-demo" id="myElement"></div>

</div>

<script>
    $('.square-demo-img').each(function () {
        var swiping = new Hammer(this);
        //enable all directions
        swiping.get('swipe').set({
            direction: Hammer.DIRECTION_ALL,
            threshold: 1,
            velocity: 0.1
        });

        var current = $(this).attr("id");
        var colour = $("#" + current).attr("data-colour");
        // listen to events...
        swiping.on("swipeup swipedown swipeleft swiperight tap press pressup", function (ev) {
            myElement.textContent = ev.type + " gesture detected.";
            
            // Reset element state (css class transitions)
            $("#" + current).removeClass("element-increase");
            $("#" + current).removeClass("element-reset");
            
            // Swipe up gesture
            if (ev.type == "swipeup") {
                $("#" + current).removeClass("fadeIn");
                $("#" + current).addClass("slideOutUp");
                console.log("slide up out: " + colour);

                var socket = io();
                socket.send(colour);

                // Add the asset back to the display
                setTimeout(function () {
                    $("#" + current).removeClass("slideOutUp");
                    $("#" + current).addClass("fadeIn");
                }, 1000);
            }

            // Hold gesture start (press)
            if (ev.type == "press")
            {
                $("#" + current).addClass("element-increase");
            }

            // Hold gesture stop (pressup)
            if (ev.type == "pressup")
            {
                $("#" + current).addClass("element-reset");
                $("#" + current).removeClass("element-increase");
            }
        });
    });
</script>
{% endblock %}